@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.ttf?53b12fd56f0205073e822fce5f46fc40") format("truetype"),
url("../fonts/flaticon.woff?53b12fd56f0205073e822fce5f46fc40") format("woff"),
url("../fonts/flaticon.woff2?53b12fd56f0205073e822fce5f46fc40") format("woff2"),
url("../fonts/flaticon.eot?53b12fd56f0205073e822fce5f46fc40#iefix") format("embedded-opentype"),
url("../fonts/flaticon.svg?53b12fd56f0205073e822fce5f46fc40#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.flaticon-computer:before {
    content: "\f101";
}
.flaticon-mobile-shopping:before {
    content: "\f102";
}
.flaticon-app-development:before {
    content: "\f103";
}
.flaticon-bullhorn:before {
    content: "\f104";
}
.flaticon-ui:before {
    content: "\f105";
}


