

@media(max-width:1440px){
.main__body__wrapp .header__banner__main .banner__content h1{font-size:63px;line-height:77px;}	
.main__body__wrapp .header__banner__main .banner__content p{line-height:29px;}
.global_top {padding-top: 158px;}
.global_pl {padding-left: 182px;}
.main__body__wrapp .welcome__grow .welcome__text h2{font-size: 48px;line-height: 58px;}	
.main__body__wrapp .header__banner__main .dot img{left:-312px;}
}




@media(max-width:1366px){
.main__body__wrapp .header__banner__main .banner__content h1{font-size:63px;line-height:77px;}	
.main__body__wrapp .header__banner__main .banner__content p{line-height:29px;}
.global_top {padding-top: 158px;}
.global_pl {padding-left: 182px;}
.main__body__wrapp .welcome__grow .welcome__text h2{font-size: 48px;line-height: 58px;}
.main__body__wrapp .header__banner__main .dot img{left: -356px;}
}

@media(max-width:1300px){
.main__body__wrapp .header__banner__main .banner__content h1{font-size:56px;line-height:68px;}	
.main__body__wrapp .header__banner__main .banner__content p{line-height:29px;}
.global_top {padding-top: 158px;}
.global_pl {padding-left: 182px;}
.main__body__wrapp .welcome__grow .welcome__text h2{font-size: 48px;line-height: 58px;}
.main__body__wrapp .header__banner__main .dot img{left: -356px;}	
.main__body__wrapp .header__banner__main .banner__content h1::after{margin: 74px 15px 0;}
.main__body__wrapp .header__banner__main .banner__content p{margin: 23px 0px 0px 0px;}
.main__body__wrapp .welcome__text{ margin:25px 0 0 0;}
.main__body__wrapp .welcome__grow .welcome__text h2{margin: 0 0 40px;}
.main__body__wrapp .welcome__grow .welcome__text p{margin: 0 0 28px;}
.main__body__wrapp .dark__services .service__block .service__inner__box{ max-width:100%;}
.main__body__wrapp .dark__services .services__text p{margin:20px 0 20px 0;}
.main__body__wrapp .our__work .our__work__text h3{font-size: 39px;}

}


@media(max-width:1199px){
.navbar__nav__main .navbar__brand img{max-width: 150px;}
.navbar__nav__main .navbar__button__wrapp .incorporate{font-size: 12px;}	
.navbar__nav__main .navbar__button__wrapp .whatsapp{ width:30px; height:30px;margin: 8px 5px 0 0;}
.navbar__nav__main .navbar__button__wrapp .whatsapp img{ width:30px; height:30px;}
.navbar__nav__main .navbar__nav li a{font-size: 12px;}
.main__body__wrapp .header__banner__main .banner__content p{line-height: 23px; font-size:14px;}
.main__body__wrapp .header__banner__main .banner__content h1{font-size:40px;line-height: 50px;}
.main__body__wrapp .header__banner__main .banner__content h1::after{margin: 53px 15px 0;width: 148px;}
.main__body__wrapp .header__banner__main .banner__content .readmore .line{height:72px;}
.main__body__wrapp .header__banner__main .banner__content .eye__frm{width: 210px;height: 210px;}
.global_pl{padding-left: 133px;}
.global_top{padding-top: 108px;}
.main__body__wrapp .our__work .our__work__text h3{font-size: 33px;}
.main__body__wrapp .career__holder .box__holder{padding: 50px 0 0 18px;}
.main__body__wrapp .career__holder .box__holder p{margin: 0 0 37px;}
.main__body__wrapp .career__holder .box__holder a{width: 83px;height: 69px;}
.main__body__wrapp .career__holder .box__holder .right__arrow{width: 40px;}
.main__body__wrapp .welcome__grow .welocom__inner{max-width: 750px;}
.main__body__wrapp .welcome__grow{padding: 73px 0px 73px;}
.main__body__wrapp .welcome__grow::before{ display:none;}
.main__body__wrapp .welcome__grow .welcome__text p{font-size: 15px;line-height: 25px;}
.main__body__wrapp .welcome__grow .welcome__text h2{font-size:42px;}
.main__body__wrapp .dark__services .services__text h2{font-size:42px;}
.main__body__wrapp .dark__services .services__text p{font-size: 15px;line-height: 25px;}
footer .footer-top-nav .top-footer-menu li{padding-right: 20px;padding-left: 20px;}
footer .quick__contact{font-size: 25px;padding: 0 0 40px;}
.main__body__wrapp .header__banner__main .dot img {left: -442px;}






}






@media(max-width:1024px){

.navbar{padding-top:10px; padding-bottom:10px; z-index:999; min-height:100px;}
.navbar .main__header__content{padding-left:15px; padding-right:15px;}
.navbar .navbar-nav li a{text-align:left; border-bottom:1px solid #f0f0f0;}
.navbar-toggler{border:0px solid red; margin-right:0px; padding:0px; height:30px;}
.navbar-toggler span{width:32px; height:2px; background:#ec5598; display:block;}
.navbar-toggler span:nth-child(2){margin:7px 0px;}
.bar,.bar:after,.bar:before{width:32px; height:2px; background-color:#ec5598;}
.bar{position:relative; transform:translateY(25px); transition:all 0ms 300ms; top:-25px; position:relative;}
.bar.animate{background-color:transparent;}
.bar:before{content:""; position:absolute; left:0; bottom:9px; transition:bottom 300ms 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms cubic-bezier(0.23,1,0.32,1);}
.bar:after{content:""; position:absolute; left:0; top:9px; transition:top 300ms 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms cubic-bezier(0.23,1,0.32,1);}
.bar.animate:after{top:0; transform:rotate(45deg); transition:top 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms 300ms cubic-bezier(0.23,1,0.32,1);}
.bar.animate:before{bottom:0; transform:rotate(-45deg); transition:bottom 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms 300ms cubic-bezier(0.23,1,0.32,1);}
.navbar .main__nav .container{padding:0px;}
.navbar .navbar-collapse{height:100%;}
.navbar .navbar-collapse{position:fixed; left:-100%; background:#050618; height:100%; top:0px; z-index:5;
-webkit-transition:left .3s ease 0s;-moz-transition:left .3s ease 0s;-o-transition:left .3s ease 0s; transition:left .3s ease 0s;
-webkit-box-shadow:2px 2px 5px 0px rgba(0,0,0,0.15);
-moz-box-shadow:2px 2px 5px 0px rgba(0,0,0,0.15);
box-shadow:2px 2px 5px 0px rgba(0,0,0,0.15);}
.navbar .show{left:0px; width:265px;
-webkit-transition:left .3s ease 0s;-moz-transition:left .3s ease 0s;-o-transition:left .3s ease 0s; transition:left .3s ease 0s;}
.navbar .navbar-nav{display:block; height:auto; margin-bottom:30px;}
.navbar .navbar-nav li{height:auto; padding:0px;}
.navbar .navbar-nav li a.nav-link{border-right:0px; border-bottom:1px solid #f1f1f1; line-height:normal; padding:10px 15px; text-align:left; position:relative; font-size:12px;}
.navbar .navbar-nav li a:after{display:none;}
.main__body__wrapp .our__work .portfolio-categ li{font-size: 13px;}
.main__body__wrapp .our__work .our__work__text h3{font-size: 30px;}
.main__body__wrapp .our__work .portfolio-categ{margin: 6px 0px 0px 0px;}
.main__body__wrapp .career__holder .box__holder p{font-size: 14px;max-width: 268px;}
.main__body__wrapp .header__banner__main .dot img {left: -442px;}
}







@media(max-width:991px){
.navbar{padding-top:10px; padding-bottom:10px; z-index:999; min-height:100px;}
.navbar .main__header__content{padding-left:15px; padding-right:15px;}
.navbar .navbar-nav li a{text-align:left; border-bottom:1px solid #f0f0f0;}
.navbar-toggler{border:0px solid red; margin-right:0px; padding:0px; height:30px;}
.navbar-toggler span{width:32px; height:2px; background:#ec5598; display:block;}
.navbar-toggler span:nth-child(2){margin:7px 0px;}
.bar,.bar:after,.bar:before{width:32px; height:2px; background-color:#ec5598;}
.bar{position:relative; transform:translateY(25px); transition:all 0ms 300ms; top:-25px; position:relative;}
.bar.animate{background-color:transparent;}
.bar:before{content:""; position:absolute; left:0; bottom:9px; transition:bottom 300ms 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms cubic-bezier(0.23,1,0.32,1);}
.bar:after{content:""; position:absolute; left:0; top:9px; transition:top 300ms 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms cubic-bezier(0.23,1,0.32,1);}
.bar.animate:after{top:0; transform:rotate(45deg); transition:top 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms 300ms cubic-bezier(0.23,1,0.32,1);}
.bar.animate:before{bottom:0; transform:rotate(-45deg); transition:bottom 300ms cubic-bezier(0.23,1,0.32,1),transform 300ms 300ms cubic-bezier(0.23,1,0.32,1);}
.navbar .main__nav .container{padding:0px;}
.navbar .navbar-collapse{height:100%;}
.navbar .navbar-collapse{position:fixed; left:-100%; background:#050618; height:100%; top:0px; z-index:5;
-webkit-transition:left .3s ease 0s;-moz-transition:left .3s ease 0s;-o-transition:left .3s ease 0s; transition:left .3s ease 0s;
-webkit-box-shadow:2px 2px 5px 0px rgba(0,0,0,0.15);
-moz-box-shadow:2px 2px 5px 0px rgba(0,0,0,0.15);
box-shadow:2px 2px 5px 0px rgba(0,0,0,0.15);}
.navbar .show{left:0px; width:265px;
-webkit-transition:left .3s ease 0s;-moz-transition:left .3s ease 0s;-o-transition:left .3s ease 0s; transition:left .3s ease 0s;}
.navbar .navbar-nav{display:block; height:auto; margin-bottom:30px;}
.navbar .navbar-nav li{height:auto; padding:0px;}
.navbar .navbar-nav li a.nav-link{border-right:0px; border-bottom:1px solid #f1f1f1; line-height:normal; padding:10px 15px; text-align:left; position:relative; font-size:12px;}
.navbar .navbar-nav li a:after{display:none;}
.main__body__wrapp .our__work .portfolio-categ li{font-size: 13px;}
.main__body__wrapp .our__work .our__work__text h3{font-size: 30px; text-align:center; margin:0 0 20px;}
.main__body__wrapp .our__work .portfolio-categ{margin: 6px 0px 0px 0px; text-align:center;}
.main__body__wrapp .career__holder .box__holder p{font-size: 14px;max-width: 100%;}
.main__body__wrapp .header__banner__main .banner__content h1 {font-size: 27px;line-height: 30px;}
.main__body__wrapp .header__banner__main .banner__content h1::after{margin: 33px 15px 0;}
.main__body__wrapp .header__banner__main .banner__content .eye__frm{width:180px;height:180px;}
.global_top{padding-top: 80px;}
.global_pl{padding-left: 100px;}
.main__body__wrapp .header__banner__main .banner__content .readmore .line{height: 43px;}
.main__body__wrapp .header__banner__main .banner__content .readmore .readmore__right {width: 40px;height: 40px;padding: 10px 0;}
.main__body__wrapp .header__banner__main .banner__content .readmore .readmore__right img{width: 23px;height: 23px;}
.main__body__wrapp .welcome__grow .welcome__text h2 {font-size:35px;line-height: 48px;max-width: 595px;}
.main__body__wrapp .dark__services .services__text h2 {font-size: 35px;line-height: 42px;max-width: 536px;}
.main__body__wrapp .our__work .portfolio-area li{ width:50%;}
footer .footer-top-nav{ display:none;}
}



@media(max-width:800px){
.main__body__wrapp .header__banner__main .banner__content h1 {font-size: 26px;line-height: 30px;}
.main__body__wrapp .header__banner__main .banner__content .hedd{ display:none;}	
.main__body__wrapp .welcome__grow .welcome__text h2{font-size: 30px;}
.main__body__wrapp .dark__services .services__text h2{font-size: 30px;}
.main__body__wrapp .testimonial__holder .testimonial__slider .service__item p {font-size: 15px;}
}

@media(max-width:767px){
.main__body__wrapp .header__banner__main .banner__content h1{margin: 88px 0px 0;}	
.main__body__wrapp .welcome__grow .welocom__inner::before{height: 160px;}	
.main__body__wrapp .welcome__grow .welocom__inner .image__block:nth-child(2){margin-top: -122px;}
.main__body__wrapp .welcome__grow .welocom__inner .image__block:nth-child(1) {padding-right:0;}
.main__body__wrapp .welcome__grow .welcome__text h2 {font-size: 27px;line-height: 37px;}
.main__body__wrapp .dark__services .services__text h2 {font-size: 27px;}
.main__body__wrapp .testimonial__holder .testimonial__heading h3{font-size: 27px;}
.main__body__wrapp .testimonial__holder .testimonial__heading p{font-size: 14px;line-height: 20px;margin: 33px auto 33px auto;}
.main__body__wrapp .career__holder .career__holder__text h3{font-size: 27px;}
.main__body__wrapp .career__holder .box__holder h2{font-size: 20px;}
	
}


@media(max-width:575px){
.main__body__wrapp .header__banner__main .banner__content h1{font-size: 20px;}
.main__body__wrapp .header__banner__main .banner__content p {line-height: 16px;font-size: 12px;margin: 12px 0px 0px 0px;}
.main__body__wrapp .header__banner__main .banner__content .readmore .line {height: 24px;}	
.main__body__wrapp .our__work .portfolio-categ li {font-size: 12px;}
.main__body__wrapp .our__work .portfolio-area li { width: 100%;}
.main__body__wrapp .career__holder .box__holder p {font-size: 14px;max-width: 94%;}
}

@media(max-width:575px){
.main__body__wrapp .header__banner__main .banner__content h1{font-size: 20px;}
.main__body__wrapp .header__banner__main .banner__content p {line-height: 16px;font-size: 12px;margin: 12px 0px 0px 0px;}
.main__body__wrapp .header__banner__main .banner__content .readmore .line {height: 24px;}	
.main__body__wrapp .our__work .portfolio-categ li {font-size: 12px;}
.main__body__wrapp .our__work .portfolio-area li { width: 100%;}
.main__body__wrapp .career__holder .box__holder p {font-size: 14px;max-width: 94%;}
}

@media(max-width:480px){
.main__body__wrapp .header__banner__main{height: 400px;}	
.main__body__wrapp .header__banner__main img{height: 400px;}
.main__body__wrapp .welcome__grow .welocom__inner::before {display:none;}
.main__body__wrapp .welcome__grow .welocom__inner .image__block:nth-child(1){padding-right:0;margin-left: 0;margin-bottom: 30px;}
.main__body__wrapp .welcome__grow .welocom__inner .image__block:nth-child(2){margin-top: 0; margin-right:0;}	
.main__body__wrapp .our__work .our__work__text h3 {font-size: 25px;}
.main__body__wrapp .our__work .portfolio-categ li {font-size: 10px;margin-right: 10px;}
.main__body__wrapp .testimonial__holder .testimonial__heading h3 {font-size: 25px;}
.main__body__wrapp .career__holder .career__holder__text h3 {font-size: 25px;}
}












