$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?53b12fd56f0205073e822fce5f46fc40") format("truetype"),
url("./flaticon.woff?53b12fd56f0205073e822fce5f46fc40") format("woff"),
url("./flaticon.woff2?53b12fd56f0205073e822fce5f46fc40") format("woff2"),
url("./flaticon.eot?53b12fd56f0205073e822fce5f46fc40#iefix") format("embedded-opentype"),
url("./flaticon.svg?53b12fd56f0205073e822fce5f46fc40#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "computer": "\f101",
    "mobile-shopping": "\f102",
    "app-development": "\f103",
    "bullhorn": "\f104",
    "ui": "\f105",
);

.flaticon-computer:before {
    content: map-get($flaticon-map, "computer");
}
.flaticon-mobile-shopping:before {
    content: map-get($flaticon-map, "mobile-shopping");
}
.flaticon-app-development:before {
    content: map-get($flaticon-map, "app-development");
}
.flaticon-bullhorn:before {
    content: map-get($flaticon-map, "bullhorn");
}
.flaticon-ui:before {
    content: map-get($flaticon-map, "ui");
}
